/*HOMEPAGE*/

@font-face {
   font-family: OpensansLight;
   src: url(opensanslight.ttf);
}
@font-face {
   font-family: OpensansRegular;
   src: url(opensansregular2.ttf);
}
#loginwrapper {
   height: 0px;
}
a.loglink {
   color: #4F8AAD;
   text-decoration: none;
}
.loglink:hover {
   text-decoration: none;
   color: #4F8AAD;
}
#post {
   display: inline-block;
   float: left;
   color: #4F8AAD;
   font-family: OpensansLight;
   padding: 5px;
   margin-top: 8px;
   font-size: 17px;
}
#login, #signup, #logout {
   display: inline-block;
   float: right;
   color: #4F8AAD;
   font-family: OpensansLight;
   padding: 5px;
   padding-right: 10px;
   margin-top: 8px;
   font-size: 17px;
}
#header-middle-text {
   color: white;
   display: inline-block;
   font-size: 50px;
   font-family: OpensansLight;
}
#main {
   color: white;
   text-align: center;
}
body {
   background-color: #1e1c1c;
}
#header-smaller {
   margin-top: 0px;
}
#header-smaller-text {
   color: #d2dbe1;
   display: inline-block;
   font-family: OpensansLight;
}
#header-between {
   background-color: #bc3f3f;
}
#header-big {
   color: white;
   display: inline-block;
   font-size: 100px;
   font-family: OpensansLight;
   margin-top: 10px;
}
#header {
   text-align: center;
}
#header-text {
   font-family: OpensansLight;
   color: white;
   display: inline-block;
}
#warmth {
   color: #e96c6c;
}
.post-title {
   color: white;
   text-align: center;
   font-family: OpensansRegular;
   margin-top: 0px;
   font-size: 30px;
}
.post-desc {
   color: white;
   text-align: left;
   padding: 30px;
   padding-left: 30%;
   padding-right: 30%;
   font-family: OpensansLight;
}
.post-author {
   color: white;
   font-family: OpensansLight;
   text-align: center;
   margin-top: 30px;
   padding: 20px;
}
.post-separator {
  background-color: white;
  height: 1px;
  width: 23%;
  margin-left: 25%;
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
}
.post-separator1 {
  background-color: white;
  height: 1px;
  width: 23%;
  margin-left: 4%;
  float: right;
  margin-right: 25%;
  margin-bottom: 20px;
  margin-top: 20px;
}
